<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Development
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        This app was development by
        <a target="_blank" href="https://github.com/luizhfraraujo">Luiz Henrique Araújo</a>
        using Ionic 5 and the rest api development by
        <a target="_blank" href="https://github.com/ExpDev07/coronavirus-tracker-api">ExpDev07</a>. All the source code
        can be found in
        <a target="_blank" href="https://github.com/luizhfraraujo/ionic-coronavirus-tracker">GitHub</a>.
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Data
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        The data comes from the <a href="https://github.com/CSSEGISandData/COVID-19">2019 Novel Coronavirus (nCoV) Data Repository, provided by JHU CCSE</a>. It is
        programmatically retrieved, re-formatted and stored in the cache for one hour. (API)
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>